.links{
    text-decoration: none;
    color: rgb(19, 19, 19);
}

.porfilePhoto{
    height: 20vh;
}

.skillsData{
    display: flex;
    justify-content: space-around;
    background-color: #1f253b;
    color: #fff;
    border-radius: 20px;
    margin-top: 5vw;
}

.technology > h3{
    margin: 0;
}
.languajes > h2{
    border-bottom: solid 2px #fff;
}

.software > h2{
    border-bottom: solid 2px #fff;
}

.technology{
    margin-bottom: 3vh;
}